{% extends 'tasks/base.html' %} {% block content %}
<div class="todo-app">
        {% load static %}
        <h2>Хийх зүйлсийн жагсаалт<img src="{% static 'images/icon.png' %}" /></h2>
        <div class='nemeh'><button type="button" onclick="location.href='{% url 'create_task' %}'">Хийх зүйлээ нэмэх</button></div>
          <ul id="list-container">
              {% for task in tasks %}
           <li >{{ task.title }}
               <a class="pencil" href="{% url 'update_task' pk=task.pk %}">
                    <img src="{% static 'images/pencil-fill.svg' %}" />
                </a>
               <a class="danger" href="{% url 'delete_task' task.pk %}">X</a>
           </li>
              {% endfor %}
          </ul>

</div>

{% endblock %}